.navbar {
    padding: 0 !important;
}

.nav-link {             /* <- this affects all navbars */
    text-align: center;
    display: inline-block;
    width: 33%;
    color: grey;
    margin: auto;
    padding:0 !important;
    line-height: 6vh;
}

.selected{
    background-color: grey;
    color: white;

}

.nav-link:hover{             /* <- this affects all navbars */
    color: darkslategrey;
}

.statChart{
    max-width: 1500px;
    margin:auto;
}

.housing{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 10vh;
}

#logForm{
    width:80%;
    max-width: 400px;
    margin:auto;
    padding: 35vh 0;
}

#logForm .formButton{
    margin-right:10px;
}

#logForm h1{
    text-align: center;
    font-weight: bold;
    margin-bottom:5vh;
}