#workoutWrap{
    max-width:1600px !important;
}

#daySelect{
    text-align: center;
    width:80%;
    max-width:1000px;
    margin: auto;
    position: relative;
    font-size:1.5em;
}
@media (max-width: 600px){
    #daySelect {
        font-size:1em;
    }
}

.arrow{
    font-size: 3em;
    margin-top:0.19em;
}
.left{
    float:left;
}
.right{
    float:right;
}

.arrow:hover{
    cursor:pointer !important;

}

#adButtonWrap{
    text-align: center;
    width:100%;
}

#adButton{
    color:rgb(214, 214, 214);
    padding-top:15px;
    display: inline-block;

}


.listHidden{
    display:none;
}




/*LIST ITEMS*/
.exerciseWrapper{
    width:100%;
    margin:auto;
    padding:0px;
    font-size:1.7em;
    
    
}
.exerciseLabel{
    width:100%;

}
.Collapsible{
    width:100%;
    margin:0px;
    padding:0px;
}
.Collapsible__trigger{
    padding:0px;
    cursor:pointer;   
}
.Collapsible__trigger :hover{
    background-color: rgba(170, 197, 214, 0.178)!important; 
}
.Collapsible__contentOuter{
    background-color:rgb(0, 77, 107);
    color:white;
    

}
.new1{
    padding-left:20px;
}
.new2{
    position: absolute;
    right:0;
    padding-right:10px;
    font-weight: 600;
    margin-right:30px;
}



@media (max-width: 600px){
    .exerciseWrapper {
        font-size:1em;
    }
}

.exerciseReps {
    text-align: center;
    border-right:thin solid rgba(255, 255, 255, 0.274);
    padding: 5px 15px;
    float:left;
}
.exerciseRepsWrap{
    border:thin solid transparent;
}

.deleteWorkout{
    float:right;
    cursor:pointer;
    padding:10px;
    color:rgba(255, 255, 255, 0.644) !important;
}




/*Add exercise popup*/
#adExButton{
    cursor:pointer;
    margin-top:10px;
}
#adExButtonWrap{
    background-color: white;
    color: rgb(44, 44, 44);
    margin-right:15px;
    max-width:30px;
    float:right;
}
#closeButton{
    position: absolute;
    top:0;
    right:0;
    color: rgb(107, 107, 107);

}
.exerciseInput{
    padding-top:5px;
    width:41%;
    float:left;
    text-align: center;
}
.exerciseInput input{
    width:90%;
    background-color: rgb(248, 248, 248);
    border: thin solid rgb(107, 107, 107);
}

.addWrap{
    width:85%;
    text-align: center;

}
#exerciseDropdown{
    display: inline-block;
    margin:auto;
    width: 100%;
    min-width:260px;
    font-size:1.1em; 

}
@media (max-width: 600px){
    .addWrap{
        width:260px;
    }
}

.formButton{
    background-color: white;
    color: rgb(0, 0, 0) !important;
    border:none;
}
#newExNameSave{
    margin-left:20px!important;
}
#exerciseSave{
    width:18%;
    float:left;
    margin-top:32px;
    text-align: center;

}
.textField{
    max-width: 100px;
}

#exerciseInput{
    width:80%;
    margin-left:5%;
    border:thin solid black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }